---
layout: layouts/base.njk
title: Camp Damp
---

<div class="schedule-container">
    <h2>{{ campdamp.title }}</h2>
    
    <p class="camp-location"><strong>{{ campdamp.dates }}</strong><br>{{ campdamp.location }}</p>
    
    {% if settings.campDamp.cancelled %}
    <div class="camp-cancellation">
        <p><strong>{{ settings.campDamp.cancellationNotice }}</strong></p>
    </div>
    {% endif %}
    
    <div class="camp-description">
        {{ campdamp.description | safe }}
        
        <h3>Registration</h3>
        {{ campdamp.registration | safe }}
    </div>
</div>