---
layout: layouts/base.njk
title: Other Sites
---

<div class="schedule-container">
    <h2>Links</h2>
    
    <p>Here is a list of folk music and dance sites</p>
    
    <div class="links-list">
        <h3>Dance Organizations</h3>
        <ul>
        {% for link in collections.links %}
            {% if link.data.category == "Dance Organizations" %}
            <li>
                <a href="{{ link.data.url }}" target="_blank">{{ link.data.title }}</a>
                {% if link.data.description %}
                - {{ link.data.description }}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>

        <h3>Local Resources</h3>
        <ul>
        {% for link in collections.links %}
            {% if link.data.category == "Local Resources" %}
            <li>
                <a href="{{ link.data.url }}" target="_blank">{{ link.data.title }}</a>
                {% if link.data.description %}
                - {{ link.data.description }}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>

        <h3>Other</h3>
        <ul>
        {% for link in collections.links %}
            {% if link.data.category == "Other" %}
            <li>
                <a href="{{ link.data.url }}" target="_blank">{{ link.data.title }}</a>
                {% if link.data.description %}
                - {{ link.data.description }}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>