---
layout: layouts/base.njk
title: Other Sites
---

<div class="schedule-container">
    <h2>Links</h2>
    
    <p>Here is a list of folk music and dance sites</p>
    
    <div class="links-list">
        {% set categories = ["Dance Organizations", "Local Resources", "Other"] %}
        {% for category in categories %}
            {% set categoryLinks = collections.links | selectattr("data.category", "equalto", category) | sort(false, false, "data.order") %}
            {% if categoryLinks.length > 0 %}
                <h3>{{ category }}</h3>
                <ul>
                {% for link in categoryLinks %}
                    <li>
                        <a href="{{ link.data.url }}" target="_blank">{{ link.data.title }}</a>
                        {% if link.data.description %}
                        - {{ link.data.description }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
</div>