---
layout: layouts/base.njk
title: More Info
---

<div class="schedule-container">
    <h2>More Dance Info</h2>
    
    <div class="more-info-content">
        <ul>
            <li><strong>JUNEAU INTERNATIONAL FOLKDANCERS</strong> meet Sundays 6-8pm at the Juneau Racquet Club Downtown, to dance ballroom and new and familiar folk dances from around the world. For more information, call or e-mail <a href="mailto:brucebotelho@hotmail.com">Bruce Botelho</a>, 364-2334 or John or Terry Laskey at 586-1548 or <a href="mailto:laskey@alaska.net">laskey@alaska.net</a>.</li>
        </ul>
    </div>
</div>